<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title} + '!'"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"/>
<div th:each ="el : ${post}" class="alert alert-info mt-2">
    <h3 th:text="${el.title}"/>
    <p th:text="${el.descriptions}"/>
    <p>Количество просмотров: <span th:text="${el.numberOfViews}">0</span></p>
    <a th:href="'/blog/edit/'+ ${el.id}" class="btn btn-warning">Изменить</a>
    <a th:href="'/blog/delete/'+ ${el.id}" class="btn btn-warning">Удалить</a>
</div>
<div th:insert="blocks/footer :: footer"/>
</body>
</html>